@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, @Model.Nome</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, dolorem eos. Dolorem aliquam facilis corporis ipsa assumenda at odit eum fuga incidunt fugit dolor voluptatum, optio sit laborum reprehenderit quisquam?</p>
    <span>Email: @Model.Email</span>
</div>
